<div class="container-fluid">
  <div class="card buth">
    <img
      src="../../assets/buth-720x479.jpg"
      class="card-img-top"
      alt="..."
      width="500"
      height="500"
    />
    <div class="card-body">
      <h5 class="card-title">Bowen University Teaching Hospital (BUTH)</h5>
    </div>
  </div>

  <section id="welcomeText" class="home-section paddingtop-40">
    <div class="container">
      <div class="row">
        <div class="col-md-12 shadow-sm">
          <div class="callaction bg-gray">
            <div class="row">
              <div class="col-md-10">
                <div
                  class="wow fadeInUp animated"
                  data-wow-delay="0.1s"
                  style="
                    visibility: visible;
                    animation-delay: 0.1s;
                    animation-name: fadeInUp;
                  "
                >
                  <div class="cta-text">
                    <h3>From the Desk of CMD</h3>
                    <p>
                      Baptist Medical Hospital, Ogbomoso that has become Bowen
                      University Teaching Hospital was born March 18.<br />
                      Over the years many lives have been snatched from the cold
                      hands of death, quality of life was made better for the
                      dying. Those whose lives ended did so with dignity.
                      Opportunities were given to people to hear about the good
                      news of Jesus Christ and many have passed from death to
                      life. And the number is growing.<br />
                      All of us have been part of the exciting story. Each day
                      gives us another opportunity to thank God for the
                      privilege of being part of what He has been doing and to
                      rededicate our lives for this noble cause. Pray without
                      ceasing for this ministry to continue to fulfill God's
                      purpose for its establishment. Tell others about what God
                      has done, is doing and can still do in this ministry.
                      Connect the hospital with treasure holders and pray that
                      God will touch their hearts and hands to release the
                      treasures as needed in the hospital. <br />
                      May Bowen University Teaching Hospital Ogbomoso remain a
                      potent instrument in the hands of God for the expansion of
                      His kingdom on earth. May we all yield more and more of
                      ourselves so He'd work through us.
                    </p>

                    <p>
                      Love and calvary greetings in the name of our Lord Jesus
                      Christ. Praises and thanks to our God for all His
                      wonderful deeds in, for and through you to the glory of
                      His name and for the blessing of humanity. From this time
                      onward, we shall be attempting through this medium to give
                      you timely information on the healing Ministry that is
                      progressing for the glory of God at the Bowen University
                      Teaching Hospital (BUTH) Ogbomoso. We hope this will be a
                      means of keeping all Baptists and friends of the hospital,
                      the world over abreast of happenings, needs and problems
                      of the Hospital. Efforts would be made, from time to time,
                      to include some health education on some disease
                      conditions and contributions from readers. Some pressing
                      questions about the hospital will be answered for the
                      purpose of information and education.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div
                  class="wow lightSpeedIn animated"
                  data-wow-delay="0.1s"
                  style="
                    visibility: visible;
                    animation-delay: 0.1s;
                    animation-name: lightSpeedIn;
                  "
                >
                  <img
                    src="../../assets/Drolupona.jpg"
                    width="180px"
                    height="200px"
                    class="img-responsive"
                    alt="Dr Omo Olupona"
                  />
                  <div class="cta-text">Dr OmoOlorun Olupona, CMD</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
