.container-fluid{
background-color: rgb(4, 48, 65);
padding-top: 100px;
}

.col-8{
background-color: white;
}

.Profile{
display: flex;
}

.image{
height: 300px;
width: 30%;

box-sizing: border-box;
background-repeat: no-repeat;
background-size: cover;
background-position: bottom center;
}

.Basic{
padding: 10px 0px;
width: 60%;
}

.Contact, .Medical{
margin: 0 auto;
width: 80%;
margin-top: 20px;
}

h3{
font-family:'Open Sans', sans-serif; 
font-weight: bold;
border-bottom: 1px solid grey;
font-size:25px;
}

label{
font-family: fantasy;
font-size: 20px;
}



span{
font-size: 20px;
overflow: hidden;
font-family:'Open Sans', sans-serif; 
border: 1px solid rgb(199, 208, 211);
padding: 10px 10px 0 10px;
width: 60%;
border-radius: 10px;
box-shadow: 1px 1px 1px rgb(216, 213, 213);
}


.content{
display: flex;
justify-content: space-between;
}



button{
float: right;
}



 @media only screen and (max-width:1250px) {
    .Profile{
display: block;
}
.image{
width: 93%;
}
.image img{

margin:0 10% 0 10%;
}
.Basic{
margin: 0 auto;
width: 80%;
}
}

 @media only screen and (max-width:1000px) {
.col-8{
width: 80%;
}
}


 @media only screen and (max-width:600px) {
.col-8{
width: 90%;
}
.image img{
width: 90%;
margin:0;
}
}

