
.container-fluid{
padding-top: 100px;
}

.list{
height: 100vh;
background:  url('../../assets/95fc7b2684548ed24bdcb1876930191e--entrance-hospitals.jpg'),rgba(0, 0, 0, 0.5);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

th{
font-size: 22px;
}
td{
font-size: 18px;
padding-top: 22px;
}

.col-8{
background-color: rgba(255, 255, 255, 0.7);
}