<div class="container-fluid">
  <div class="row">
    <div class="col-8 my-4 mx-auto shadow">
      <div><button class="btn btn-info" (click)="edit()" ><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button></div>
      <div class="Profile">
        <div class="image ms-4 mt-5">
        <img [src]="existed_patient.Image" height="250" width="220" alt="">
        </div>
        <div class="Basic information">
          <h3 class="">Basic Information</h3>
          <div class="content py-2">
            <label for="">Surname</label>
            <span>{{existed_patient.Surname}}</span>
          </div>
          <div class="content py-2">
            <label for="">First Name</label>
            <span>{{existed_patient.First_Name}}</span>
          </div>
          <div class="content py-2">
            <label for="">Last Name</label>
             <span>{{existed_patient.Last_Name}}</span>
          </div>
          <div class="content py-2">
            <label for="">Date of Birth</label>
            <span>{{existed_patient.Date_of_Birth}}</span>
          </div>
          <div class="content py-2">
            <label for="">Gender</label>
           <span>{{existed_patient.Gender}}</span>
          </div>
          <div class="content py-2">
            <label for="">Password</label>
            <span>{{existed_patient.Password}}</span>
          </div>
        </div>
      </div>
      <div class="Contact details">
        <h3 class="">Contact Details</h3>
        <div class="content py-2">
          <label for="">Phone Number</label>
       <span><i class="fa fa-phone text-info" aria-hidden="true"></i> {{existed_patient.Phone_Number}}</span>
        </div>
        <div class="content py-2">
          <label for="">Email</label>
         <span><i class="fa fa-envelope-o text-primary" aria-hidden="true"></i> {{existed_patient.Email}}</span>
        </div>
      </div>
      <div class="Medical information mb-4">
        <h3 class="">Medical Information</h3>
        <div class="content py-2">
          <label for="">Genotype</label>
          <span>{{existed_patient.Genotype}}</span>
        </div>
        <div class="content py-2">
          <label for="">Blood Group</label>
         <span>{{existed_patient.Blood_Group}}</span>
        </div>
        <div class="content py-2">
          <label for="">PCV</label>
         <span>{{existed_patient.PCV}}</span>
        </div>
        <div class="content py-2">
          <label for="">Blood Presure</label>
         <span>{{existed_patient.Blood_Presure}}</span>
        </div>
        <div class="content py-2">
          <label for="">HIV I & II</label>
         <span>{{existed_patient.HIV}}</span>
        </div>
        <div class="content py-2">
          <label for="">Chest X-ray</label>
         <span>{{existed_patient.X_ray}}</span>
        </div>
        <div class="content py-2">
          <label for="">Hepatitis B & C</label>
         <span>{{existed_patient.Hepatitis}}</span>
        </div>
        <div class="content py-2">
          <label for="">Weight</label>
         <span>{{existed_patient.Weight}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
