<div class="container-fluid">
  <div class="card buth">
    <img
      src="../../assets/bowen-university-teaching-hospital-school-of-nursing-admission-form-2020-2021-updated-678x381.jpg"
      class="card-img-top"
      alt="..."
     width="500"
     height="500"
    />
    <div class="card-body">
      <h5 class="card-title">Bowen University Teaching Hospital (BUTH)</h5>
      <p class="card-text">
       Baptist Medical Hospital, Ogbomoso that has become Bowen University Teaching Hospital was born March 18.
Over the years many lives have been snatched from the cold hands of death, quality of life was made better for the dying. Those whose lives ended did so with dignity. Opportunities were given to people to hear about the good news of Jesus Christ and many have passed from death to life. And the number is growing.
All of us have been part of the exciting story. Each day gives us another opportunity to thank God for the privilege of being part of what He has been doing and to rededicate our lives for this noble cause. Pray without ceasing for this ministry to continue to fulfill God's purpose for its establishment. Tell others about what God has done, is doing and can still do in this ministry. Connect the hospital with treasure holders and pray that God will touch their hearts and hands to release the treasures as needed in the hospital.
May Bowen University Teaching Hospital Ogbomoso remain a potent instrument in the hands of God for the expansion of His kingdom on earth. May we all yield more and more of ourselves so He'd work through us.
      </p>
    </div>
  </div>

  <div class="departments">
    <div class="card child grid-col-span-2" >
      <img
        src="../../assets/buth-720x479.jpg"
        height="400"
       
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">The Administrative block of BUTH </h5>
        <p class="card-text">
    The beautiful administrative block of Bowen University Teaching Hospital(BUTH) 
        </p>
      
      </div>
    </div>

    <div class="card child" >
      <img
        src="../../assets/_dsc3162.jpg"
        height="400"
       
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">The Compound of BUTH </h5>
        <p class="card-text">
    The beautiful compound of Bowen University Teaching Hospital(BUTH) 
        </p>
      
      </div>
    </div>

    <div class="card child" >
      <img
        src="../../assets/95fc7b2684548ed24bdcb1876930191e--entrance-hospitals.jpg"
        height="400"
       
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">The Sorounding of BUTH </h5>
        <p class="card-text">
    The beautiful sorounding of Bowen University Teaching Hospital(BUTH) 
        </p>
      
      </div>
    </div>

    <div class="card child" >
      <img
        src="../../assets/BOWEN University School of Nursing Form Price and Closing Date.jpg"
        height="400"
       
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Nurses of BUTH</h5>
      </div>
    </div>

    <div class="card child" >
      <img
        src="../../assets/nurse.jpg"
        height="400"
       
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Nurses of BUTH</h5>
      </div>
    </div>
  </div>
</div>
